<% layout('./layouts/boilerplate') %>
<body>
    <%= console.log(title) %>
    <p><%= title.titleName %></p>
    <p><%= title.hindiTitle %></p>
    <p><%= title.ownerName%></p>
    <p><%= title.state %></p>
    <p><%= title.periodity %></p>
</body>